// Variables
//-------------------------------

$white: #fff;
$black: #000;


// Here we go
//-------------------------------

.b-image-gallery__main-item {
  cursor: pointer;
  position: relative;

  &:after {
    content: '';
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
  }
}

.b-image-gallery__main-item_not-full {
  cursor: pointer;
  position: relative;
  width: 70%;
  float: left;

  &:after {
    content: '';
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
  }
}

  .b-image-gallery__main-image {
    width: 100%;
  }


//
// Image gallery
//

.b-image-carousel {
  padding: 0;
  margin: 0;
  font-size: 0;
}

  .image-carousel-wrapper {
    overflow: hidden;
  }

  .image-gallery_big-size-view {
    margin-top: 10px;
    max-width: 300px;
  }

    .b-image-carousel__item {
      width: 25%;
      height: 100%;
      display: inline-block;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: relative;
      list-style: none;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        overflow: hidden;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 20;
      }
    }

      .b-image-carousel__img {
        width: 100%;
        //opacity: 1;
      }


.image-gallery:hover .image-gallery__image-wrapper:after {
  background: rgba(0, 0, 0, .7);
  transition: .2s;
}

.image-gallery:hover .image-gallery__main-image:after {
  background: rgba(0, 0, 0, .7);
  transition: .2s;
}


.image-gallery:hover .image-gallery__image-wrapper:hover:after {
  background: rgba(0, 0, 0, 0);
  transition: .2s;
}

.image-gallery:hover .image-gallery__main-image:hover:after {
  background: rgba(0, 0, 0, 0);
  transition: .2s;
}