!!! 5
%html
    %head
        %meta(charset='utf-8')
        %title Okils image carousel
        %link{:rel => :stylesheet, :href => "oklis-image-carousel.min.css"}
        %link{:rel => :stylesheet, :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"}
        %link{:rel => :stylesheet, :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"}

    %body
        .row
            .col-md-3
            .col-md-3
                <!-- Wrapper need for on hover overlay effect -->
                .b-image-gallery

                    <!-- Main image on the product page -->
                    .b-image-gallery__main-item
                        %img.img.b-image-gallery__main-image(src="../img/r1.jpg")


                    <!-- Previous image button -->
                    %button.btn-prev.btn-prev-indent
                        %i.glyphicon.glyphicon-chevron-left


                    <!-- Gallery of images under the main image -->
                    .image-carousel-wrapper
                        %ul.b-image-carousel
                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r2.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r3.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r4.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r5.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r4.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r3.jpg")


                    <!-- Next image button -->
                    %button.btn-next.btn-next-indent
                        %i.glyphicon.glyphicon-chevron-right

            .col-md-3
                <!-- Wrapper need for on hover overlay effect -->
                .b-image-gallery

                    <!-- Main image on the product page -->
                    .b-image-gallery__main-item
                        %img.img.b-image-gallery__main-image(src="../img/r1.jpg")


                    <!-- Previous image button -->
                    %button.btn-prev.btn-prev-indent
                        %i.glyphicon.glyphicon-chevron-left


                    <!-- Gallery of images under the main image -->
                    .image-carousel-wrapper
                        %ul.b-image-carousel
                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r2.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r3.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r4.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r5.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r4.jpg")

                            %li.b-image-carousel__item
                                %img.img.b-image-carousel__img(src="../img/r3.jpg")


                    <!-- Next image button -->
                    %button.btn-next.btn-next-indent
                        %i.glyphicon.glyphicon-chevron-right



        %script{:src  => "http://code.jquery.com/jquery-2.1.1.min.js"}
        %script{:src  => "all-own.min.js"}
        