doctype html
html
  head
    meta(charset= 'utf-8')
    title Oklis image carousel v1.1.0
    link(rel= 'stylesheet', href= 'normalize.css')
    link(rel= 'stylesheet', href= 'main.css')
  body
    main
      .successful-stories
        .container
          .row
            .col-md-12
              h2.h2.h2_v2 Истории успеха

          .carousel-wrapper
            .carousel
              .carousel-column
                .carousel-column__item.carousel-item
                  h3.h3.h3_v3.carousel-item__heading Доставка в гипермаркеты
                  p.text-default.text-default_v2.carousel-item__text Несоблюдение сроков поставки товара может нанести урон репутации поставщика, а также повлечь дополнительные расходы с его стороны. Именно такая проблема стояла...
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button(href= '#') Читать
                  a href="#" class="btn btn-flat text-primary text-primary_v3 carousel-item__button carousel-item__button_square square-button"></a>

                .carousel-column__item.carousel-item
                  h3.h3.h3_v3.carousel-item__heading Система «Донор»
                  p.text-default.text-default_v2.carousel-item__text Наращивая торговый оборот, один из наших заказчиков со временем столкнулся с увеличением срока приема грузов к отправке. Причиной этому послужили большое...<a href="#" class="btn btn-flat text-primary text-primary_v3 carousel-item__button">Читать</a><a href="#" class="btn btn-flat text-primary text-primary_v3 carousel-item__button carousel-item__button_square square-button"></a>

              .carousel-column
                .carousel-column__item.carousel-item
                  h3.h3.h3_v3.carousel-item__heading Сортировка товаров
                  p.text-default.text-default_v2.carousel-item__text Одному из наших заказчиков потребовалось организовать хранение на складе большого количества фирменной спецодежды, а также оперативное снабжение ею...<a href="#" class="btn btn-flat text-primary text-primary_v3 carousel-item__button">Читать</a><a href="#" class="btn btn-flat text-primary text-primary_v3 carousel-item__button carousel-item__button_square square-button"></a>

                .carousel-column__item.carousel-item
                  h3.h3.h3_v3.carousel-item__heading Доставка в гипермаркеты
                  p.text-default.text-default_v2.carousel-item__text Несоблюдение сроков поставки товара может нанести урон репутации поставщика, а также повлечь дополнительные расходы с его стороны. Именно такая проблема стояла...<p
                    a href="#" class="btn btn-flat text-primary text-primary_v3 carousel-item__button">Читать</a><a href="#" class="btn btn-flat text-primary text-primary_v3 carousel-item__button carousel-item__button_square square-button"></a>

              .carousel-column
                .carousel-column__item.carousel-item
                  h3.h3.h3_v3.carousel-item__heading Система «Донор»
                  p.text-default.text-default_v2.carousel-item__text
                    | Наращивая торговый оборот, один из наших заказчиков со временем столкнулся с увеличением срока приема грузов к отправке. Причиной этому послужили большое...
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button(href='#') Читать
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button.carousel-item__button_square.square-button(href='#')
                .carousel-column__item.carousel-item
                  h3.h3.h3_v3.carousel-item__heading Сортировка товаров
                  p.text-default.text-default_v2.carousel-item__text
                    | Одному из наших заказчиков потребовалось организовать хранение на складе большого количества фирменной спецодежды, а также оперативное снабжение ею...
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button(href='#') Читать
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button.carousel-item__button_square.square-button(href='#')

              .carousel-column
                .carousel-column__item.carousel-item
                  h3.h3.h3_v3.carousel-item__heading Система «Донор»
                  p.text-default.text-default_v2.carousel-item__text
                    | Несоблюдение сроков поставки товара может нанести урон репутации поставщика, а также повлечь дополнительные расходы с его стороны. Именно такая проблема стояла...
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button(href='#') Читать
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button.carousel-item__button_square.square-button(href='#')
                .carousel-column__item.carousel-item
                  h3.h3.h3_v3.carousel-item__heading Доставка в гипермаркеты
                  p.text-default.text-default_v2.carousel-item__text
                    | Несоблюдение сроков поставки товара может нанести урон репутации поставщика, а также повлечь дополнительные расходы с его стороны. Именно такая проблема стояла...
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button(href='#') Читать
                  a.btn.btn-flat.text-primary.text-primary_v3.carousel-item__button.carousel-item__button_square.square-button(href='#')
              .row
                .carousel-navigation-wrapper
                  .carousel-navigation
                    button.carousel-navigation__button.btn.btn-nav.btn-prev
                      img.img(src='/img/icons/chevron-left.png')
                    ul.carousel-navigation__checker.checker
                      li.checker__item.checker__item_active
                      li.checker__item.checker__item_active
                      li.checker__item.checker__item_active
                      li.checker__item
                    button.carousel-navigation__button.btn.btn-nav.btn-next
                      img.img(src='/img/icons/chevron-right.png')
    script(src= 'js/jquery.min.js')
    script(src= 'js/main.js')
    script(src= 'js/oklis-image-carousel.js')
